<div class="post user profile_post" onclick="location.href='/{{ @root.path }}/{{ id }}'" data-id="{{ id }}">
    <div class="info" 
        data-nickname="{{ @root.nickname }}"
        data-avatar="{{ @root.avatar }}"
        data-id="{{ id }}"
    >
    </div>
    <h2>{{ name }}</h2>
    {{!-- <img src="/images/avatar.jpg"> --}}
</div>